* {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* En-tete de page */
#logo {
    width: 30%;
}

/* Menu horizontal */
ul {
    float: right;
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

li {
    margin-left: 16px;
    float: right;
}

li a {
    color: black;
}

li a:hover {
    color: #009900;
}

/* Bas de page */
footer {
    background-color: black;
}