/* Corps */
* {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* En-tete de page */
#logo {
    width: 30%;
}

/* Menu horizontal */
ul {
    float: right;
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

li {
    margin-left: 16px;
    float: right;
}

/* Lien */
li a {
    color: black;
}

/* Souris sur le lien */
li a:hover {
    color: #009900;
}

/* Selection du lien */
li a:active {
    color: #009900;
}

div {
    margin: 0 auto;
}

.boutons_principaux {
    border: 5px inset black;
    border-radius: 10px;
    color: white;
    background-color: black;
    -webkit-box-shadow: 5px 5px 5px -3px black;
    box-shadow: 5px 5px 5px -3px black;
    text-align: center;
    width: 5cm;
}

.boutons_principaux:hover {
    border: 5px outset #009900;
    border-radius: 10px;
    background-color: #009900;
    -webkit-box-shadow: 5px 5px 5px -3px black;
    box-shadow: 5px 5px 5px -3px black;
}

.boutons_principaux:active {
    border: 5px inset #009900;
    border-radius: 10px;
    box-shadow: inset -2px -2px 3px #009900,
                inset 2px 2px 3px #009900;
}

table {
    margin: auto;
    text-align: center;
}

/* Lien visite */
/*li a:visited {
    color: #009900;
}*/

/* Bas de page */
footer {
    background-color: black;
    position: absolute;
    height: 3cm;
    bottom: 0;
    left: 0;
    right: 0
}