/* Corps */

* {
    font-family: Calibri, sans-serif;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

/* En-tete */

.logo {
    width: 15%;
}

/* menu horizontal dans l'en-tete */

ul {
    float: right;
    padding: 0;
    margin: 10px;
    list-style-type: none;
}

/* liste des liens */

li {
    margin-left: 16px;
    float: right;
}

h4 {
    color: rgba(0, 153, 0, 0.8);
}

#paragrapheInscription {
    text-align: center;
}

/* pied de page */

footer {
    background-color: black;
    position: absolute;
    height: 3cm;
    bottom: 0;
    left: 0;
    right: 0
}

/* paragraphe contenu dans le pied de page */

footer p {
    text-align: center;
    color: white;
}

textarea {
    resize: none;
}

.footer {
    position: relative;
    margin-top: 3cm;
}

.footer-copyright{
    color: white;
}

.background-fond {
    -webkit-box-shadow: -5px 3px 18px 3px rgba(220, 220, 220, 0.7);
    box-shadow: -5px 3px 18px 3px rgba(220, 220, 220, 0.7);
    border: none;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 1cm;
}

/* Changement de couleur du tour des filtres en vert */

.form-control:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 153, 0, 0.8);
    outline: 0 none;
}

/* SELECT */

.custom-select:focus {
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 153, 0, 0.8);
    outline: 0 none;
}

select option:focus {
    margin: 40px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* NAVBAR */
/* Police d'écriture en noir pour les item de la barre de navigation */

.nav-item a {
    color: white;
}

.navbar {
    background-color: rgba(220, 220, 220, 0.7);
}

/* lien de la barre de navigation */

.nav-link-white {
    color: white;
}

.nav-link-white:hover {
    color: rgba(0, 153, 0, 0.8);
}

a{
    color: black;
}

a:hover{
    color: rgba(0, 153, 0, 0.8);
    text-decoration: none;
}

/* style du lien du logo dans la barre de navigation */

.link {
    font-family: Calibri, sans-serif;
    font-size: 36pt;
    font-weight: 700;
    font-style: italic;
    color: white;
    text-align: left;
}

/* BOUTONS */

.btn {
    border-color: rgba(153, 153, 153, 0.8);
}

.btn:focus {
    background-color: rgba(0, 153, 0, 0.8);
}

.btn:hover {
    background-color: rgba(0, 153, 0, 0.8);
    border-color: rgba(126, 239, 104, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 153, 0, 0.8);
    outline: 0 none;
}

/* bouton noir */

.btn-noir {
    background-color: black;
    border-width: 1px;
    border-radius: 4px;
    border-color: white;
    color: white;
}

.btn-noir:hover {
    background-color: green;
    border-width: 1px;
    border-color: white;
    color: white;
}

.btn-photo{
    border-color: rgba(37, 39, 41, 0.8);
    border-width: 5px;
    border-radius: 4px;
}

/* centrage des boutons principaux */

.btn-custom {
    margin: 0 auto;
    width: 100%;
}

.dropdown-toggle {
    background-color: rgba(153, 153, 153, 0.8);
    border-color: rgba(153, 153, 153, 0.5)
}

/* Cache les flèches du code postal */

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

/* Modification ajout photo */
input[type="file"] {
    display: none;
}

/* Bouton ajout photo */
.custom-file-upload{
    border: solid #212529 4px;
    cursor: pointer;
}

.custom-file-upload:hover{
    border-color: rgba(0, 153, 0, 0.8);
}

/* Custom slider prix */

/* Couleur curseur non touché */

.custom-range {
    outline: none;
}

.custom-range::-moz-range-thumb {
    background: rgba(0, 153, 0, 0.8);
}

/* Couleur curseur enfoncé */

.custom-range::-moz-range-thumb:active {
    background: black;
}

.form-control:focus {
    border-color: rgba(0, 153, 0, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
    outline: 0 none;
}

/* dimensions d'une image contenue dans une ligne de previsualisation de l'annonce */

.img-annonce {
    width: 240px;
    height: 160px;
}

/* hauteur de chaque ligne de la prévisualisation d'une annonce */

.col-annonce {
    height: 5cm;
}

/* taille du carousel */

.carousel-lenght {
    width: 60%;
}

/* couleur du texte correspondant au prix */

.span-prix {
    color: #009900;
    font-weight: 700;
}

/* titre dans la page "annonce" */

.card-header h2 {
    color: black;
    font-style: 700;
}

.card-header {
    color: rgba(0, 153, 0, 0.8);
}

.custom-control-label{
    white-space: nowrap;
}

/* images annonce */
.dim-img {
    width: 800px;
    height: 500px;
}